astor>=0.6.2
git+https://github.com/localhuman/bytecode.git@3eed8820e8379802c5f56a859bc6b239768a6aeb#egg=bytecode
git+https://github.com/CityOfZion/neo-python.git@feature-dict#egg=neo-python
Sphinx==1.6.4
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
pycodestyle==2.3.1
autopep8==1.3.3
twine>=1.10.0
wheel>=0.30.0
coverage==4.4.2

